:root {
    --main-bg-color: #12293b;
    --main-txt-color: rgba(255, 255, 255, 0.6);
  }
  
  * {
    margin: 0;
    padding: 0;
  
    color: var(--main-txt-color);
    font-family: system, -apple-system, "San Francisco", ".SFNSDisplay-Regular", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", helvetica, "Lucida Grande", arial, sans-serif;
  }
  
  body {
    background-color: var(--main-bg-color);
  }
  
  button.button {
    box-sizing: border-box;
    padding: 0.35em 1.0em;
    margin: 0;
    user-select: none;
    background: none;
      color: inherit;
      border: none;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  input.input {
    padding: 0 0;
  
    background-color: #17374f;
    margin: 0;
    border: none;
  }
  
  input.input {
    display: inline-block;
  
    padding: 0 10px;
    background-color: #17374f;
    margin: 0;
    border: none;
    outline: none;
  }
  
  input.input:focus {
    outline: none;
  }
  
  input.input::placeholder {
    color: rgba(255, 255, 255, 0.2);
  }
  
  [v-cloak] > * { display:none }
  [v-cloak]::before { content: "loading…" }
  
  .v--modal {
    background-color: #060e14;
  }